{% extends "base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row">
          <div class="alert alert-info" role="alert">{{message}}</div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="jumbotron">
    <div class="container">
      {% if current_user.is_authenticated() %}
        {% if current_user.user_type == 1 %}
          <h2>Welcome to Crowdscholar's student portal!</h2>
          <p class="lead">What would you like to do?</p>
          <p>
            <a class="btn btn-lg btn-success" href="{{ url_for('student.browse') }}" role="button">Browse Scholarships</a>
            <a class="btn btn-lg" href="{{ url_for('student.create') }}" role="button">Create a Campaign</a>
          </p>
        {% elif current_user.user_type == 2 %}
          <h2>Welcome to Crowdscholar's donor portal!</h2>
          <p class="lead">What would you like to do?</p>
          <p>
            <a class="btn btn-lg btn-success" href="{{ url_for('donor.browse') }}" role="button">View active Scholarships</a>
            <a class="btn btn-lg" href="{{ url_for('donor.create') }}" role="button">Create a Scholarship</a>
          </p>
        {% endif %}
      {% else %}
        <h1>Welcome to Crowdscholar!</h1>
        <p class="lead">Crowdscholar connects deserving college-bound students with need- and merit-based scholarships funded by donors from around the world.</p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('home.register') }}" role="button">Sign up today</a></p>
      {% endif %}
    </div>
  </div>

  <div class="row marketing">
      <div class="col-lg-6">
          <h4>Crowdscholar</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Crowdscholar</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Crowdscholar</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="col-lg-6">
          <h4>Crowdscholar</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Crowdscholar</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Crowdscholar</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
  </div>
{% endblock %}