body {
  padding: 3em 4em 3em 4em;
  background-color: #E3F988;
}

/*For the entire page*/
#content {
  background-color: #e6e6e6;
  clear: none;
}

/*For the background behind the h1*/
#content > h1 {
  background-color: #e6e6e6;
  margin: 0;
  height: 2em;
  padding: 0.5em 0 0.25em 0;
  padding-left: 0.5em;
}

.jumbotron > .container > h1 {
  background-color: #e6e6e6;
  padding-left: 0;
  margin-left: 0;
  /*height: 100%;
  width: 100%;
  margin: 100%;
  padding: 100%;*/
}

body .jumbotron .container {
  background-color: #e6e6e6;
}

/*For all labels*/
.label {
  color: #000;
}

/*For the labels in the Login and Sign-Up forms*/
.form_field
.label {
  color: #000;
  margin-left: 1em;
  font-size: 1em;
  font-weight: normal;
}

/*For the error messages when entering in a form, i.e. "Field is required"*/
.error {
  color: red;
}

/*To make sure the text boxes don't touch the left side of the page*/
.form_field
p {
  margin-left: 1em;
}

/*For all form field textboxes*/
.form_field
.input.text {
  height: 2em;
  width: 20em;
  border-radius: 0.35em;
}

/*For connecting the navbar's color with the rest of the page*/
.nav.nav-pills.pull-right
.active 
a {
  background-color: #e6e6e6;
  color: #000;
  border-radius: 0;
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
}

/*Same as above*/
.nav.nav-pills.pull-right
a {
  border-radius: 0;
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
}

/*For the header*/
body .container {
  background-color: #cc99ff;
}

