<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/main.js"></script>


  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Bucket List App</h1>

        <form class="form-signin" action="/signup" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <label for="first_name" class="sr-only">First Name</label>
          {{ form.first_name(size=40, class_="form-control", placeholder="First Name") }}
          <label for="last_name" class="sr-only">Last Name</label>
          {{ form.last_name(size=40, class_="form-control", placeholder="Last Name") }}
          <label for="email" class="sr-only">Email address</label>
          {{ form.email(size=40, placeholder="Email Address")}}
          <label for="password" class="sr-only">Password</label>
          {{ form.password(size=40, placeholder="Password")}}
          <label for="confirm" class="sr-only">Confirm Password</label>
          {{ form.confirm(size=40, placeholder="Confirm Password")}}
          {{ form.submit }}
          {{ form.csrf_token }}
        </form>

       </div>
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>