<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Crowdscholar{% endblock %}</title>
    <meta name="description" content="Crowdscholar is a crowdfunding platform for college scholarships.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    {% from "macros.html" import get_random %}
    <link rel="stylesheet" href="/static/css/main.css">
    {% endblock %}
    {% block script %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div id="header clearfix">
        {% block header %}
        <nav>
          <ul class="nav nav-pills pull-right">
            {% if current_user.is_authenticated() %}
              <li role="presentation">Hi {{ current_user.first_name }}!</li>
              {% if current_user.user_type == 1 %}
              <li role="presentation"><a href="{{ url_for('student.profile') }}">Profile</a></li>
              <li role="presentation"><a href="{{ url_for('student.browse') }}">Browse</a></li>
              {% elif current_user.user_type == 2 %}
              <li role="presentation"><a href="{{ url_for('donor.profile') }}">Profile</a></li>
              <li role="presentation"><a href="{{ url_for('donor.browse') }}">Browse</a></li>
              {% endif %}
              <li role="presentation"><a href="{{ url_for('home.logout') }}">Log out</a></li>
            {% else %}
            <li role="presentation" class="active"><a href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li role="presentation"><a href="{{ url_for('home.login') }}">Login</a>
            </li>
            <li role="presentation"><a href="{{ url_for('home.register') }}">Sign Up</a>
            {% endif %}
            </li>
          </ul>
        </nav>
        {% endblock %}
        <h3 class="text-muted"><a href="{{ url_for('home.index') }}">Crowdscholar</a></h3>
      </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}
      <p>&copy; 2015 Crowdscholar. All rights reserved.</p>
      {% endblock %}
    </div>
  </body>
</html>

