{% extends "base.html" %}
{% block content %}
  {% from "macros.html" import show_messages, render_field %}
  <h1>Donate to a Crowdscholar Scholarship</h1>
  {{ show_messages() }}
  <p>Donating to: {{ scholarship.name }}</p>
  <form method="POST" action="/donor/donate/{{ scholarship.scholarship_id }}" class="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.amount, class="radio button", id="amount", onclick="check();") }}
    {{ render_field(form.other_amount, class="input text", id="other-amount", onclick="check();") }}
    {{ render_field(form.message, class="input text") }}
    <input type="submit" value="Let's do this!" class="button green">
  </form>

  <a href="{{ url_for('donor.browse') }}">Back to Scholarships</a>

{% endblock %}
