{% extends "base.html" %}
{% block content %}
  {% from "macros.html" import show_messages %}
  <h1>Crowdscholar Donor Profile</h1>
  {{ show_messages() }}
  {% if user %}
    <p>Viewing donor profile: {{ user.first_name }} {{ user.last_name }}</p>
    <ul>
      <li>Member since: {{ user.date_created }}</li>
      <li>Scholarships donated to: </li>
      <li>From: {{ donor.city }}, {{ donor.state }}</li>
    </ul>
  {% elif donor %}<p>Viewing your donor profile</p>
    <ul>
      <li>Name: {{ current_user.first_name }} {{ current_user.last_name }}</li>
      <li>Member since: {{ current_user.date_created }}</li>
      <li>Scholarships donated to: </li>
      <li>From: {{ donor.city }}, {{ donor.state }}</li>
      
    </ul>
  {% endif %}
  <a href="{{ url_for('donor.update') }}">Edit your profile</a>
{% endblock %}
